<%= form_tag charges_path do %>
  <%= hidden_field_tag :amount, 1200 %>
  <h4>Click the button!</h4>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="<%= Rails.configuration.stripe[:publishable_key] %>" data-description="Premium Wiki ($12)" data-amount="1200"></script>
<% end %>
